body {
  background-color: #f0f4f7;
}

.buttons {
  margin-top: 30px;
}

button {
  place-self: center;
  margin-bottom: 10px;
  border: 1px solid #333;
  background-color: #dee0e2;
  cursor: pointer;
  display: block; 
}

button:hover {
  background-color: #c6c8ca;
  color: black;
}

button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #dee0e2;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #c6c8ca;
  cursor: pointer;
  color: black;
}

button[type="submit"]:disabled {
  background-color: #dee0e2;
  cursor: not-allowed;
}

#logoff {
  margin-top: 50px;
}

.addUser, .editCourse {
  display: grid;
  place-items: center;
}

input, input[type="password"] {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
}
.evaluationMap, .addUser, .editCourse {
  background-color: #f0f4f7;
  padding: 10px;
  border: 1px solid #333;
  box-shadow: 0 0 10px 5px #dee0e2;
  margin: 20px;
}


.toggle-container {
  display: flex;
  place-self: center;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
  border-radius: 0px;
  overflow: hidden;
  width: 200px;
  height: 40px;
  background-color: #dee0e2;
  box-shadow: 0 0 10px 5px #dee0e2;
}

.toggle-button {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  padding: 8px 0;
}

.toggle-button.active {
  background-color: #c6c8ca;
  color: black;
}

.toggle-button:not(.active):hover {
  background-color: #e0e2e4;
  color: #333;
}